/public/assets
/public/build
/public/css
/public/js
/public/media

/etc/build/*
!/etc/build/.gitignore

/drivers/

/docker-compose.override.yaml
/docker-compose.override.yml
/compose.override.yaml
/compose.override.yml

###> symfony/framework-bundle ###
/.env.*.local
/.env.local
/.env.local.php
/public/bundles
/var/
/vendor/
/config/secrets/prod/prod.decrypt.private.php
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
!/config/jwt/*-test.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/npm-debug.log
/yarn-error.log
/yarn.lock
/package-lock.json
###< symfony/webpack-encore-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###



.castor.stub.php


# Version tracking for dpush command
.version
